# Add any additional Python dependencies below:
pytest
pymysql
requests
SQLAlchemy == 1.3.23

# Airflow Extras
apache-airflow-providers-redis==2.0.1
apache-airflow-providers-postgres==2.2.0
apache-airflow[statsd]